2.Hafta ödevi veri seti üzerindeki çalışma.
Titanic veri seti
survived -> 0 = No, 1 = Yes

In [ ]:
import pandas as pd
import seaborn as sns

# Titanic veri setini yükle
df = sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

1- kazada ölenlerin yaş ortalamasını bulunuz.

In [ ]:
import pandas as pd
import seaborn as sns

# Titanic veri setini yükle
df = sns.load_dataset("titanic")

# Sadece kazada ölenlerin (survived == 0) yaş ortalamasını hesapla
mean_age_dead = df[df["survived"] == 0]["age"].mean()

print("Kazada ölenlerin yaş ortalaması:", mean_age_dead)

Kazada ölenlerin yaş ortalaması: 30.62617924528302

2- Kazada ölenlerin bilet fiyatlarının ortalamasını ve medyanını bulunuz

In [ ]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset("titanic")

# Kazada ölenlerin bilet fiyatlarının ortalaması
mean_fare_dead = df[df["survived"] == 0]["fare"].mean()

# Kazada ölenlerin bilet fiyatlarının medyanı
median_fare_dead = df[df["survived"] == 0]["fare"].median()

print("Kazada ölenlerin bilet fiyatı ortalaması:", mean_fare_dead)
print("Kazada ölenlerin bilet fiyatı medyanı:", median_fare_dead)

Kazada ölenlerin bilet fiyatı ortalaması: 22.117886885245902
Kazada ölenlerin bilet fiyatı medyanı: 10.5

3- Kazada ölen erkeklerin yaş ortalamasını bulunuz.

In [ ]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset("titanic")

# Kazada ölen erkeklerin yaş ortalamasını hesapla
mean_age_dead_males = df[(df["survived"] == 0) & (df["sex"] == "male")]["age"].mean()

print("Kazada ölen erkeklerin yaş ortalaması:", mean_age_dead_males)

Kazada ölen erkeklerin yaş ortalaması: 31.618055555555557

4-Kazada ölen Kadınların yaş ortalamasını bulunuz

In [ ]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset("titanic")

# Kazada ölen erkeklerin yaş ortalamasını hesapla
mean_age_dead_woman = df[(df["survived"] == 0) & (df["sex"] == "female")]["age"].mean()

print("Kazada ölen kadınların yaş ortalaması:", mean_age_dead_woman)

Kazada ölen kadınların yaş ortalaması: 25.046875

5-Kazadan kurtulanların yaş ortalamasını bulunuz

In [ ]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset("titanic")

mean_age_survived = df[df["survived"] == 1 ]["age"].mean()

print("Kazadan kurtulanların yaş ortalaması:", mean_age_survived)

Kazadan kurtulanların yaş ortalaması: 28.343689655172415

6-Kazadan kurtulanların bilet fiyatlarının ortalamasını bulunuz

In [ ]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset("titanic")

# Kazadan kurtulanların bilet fiyatlarının ortalaması
mean_fare_dead = df[df["survived"] == 1]["fare"].mean()
print("Kazada kurtulanların bilet fiyatı ortalaması:", mean_fare_dead)

Kazada kurtulanların bilet fiyatı ortalaması: 48.39540760233918

7-Kazadan kurtulan toplam kişi sayısını bulunuz.
len(df_titanic[(df_titanic.Survived==1)]

kodu ile de bu sayıya ulaşabilirsiniz

In [ ]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset("titanic")

survived_count = len(df[df["survived"] == 1])
print("Kazada kurtulanların toplam sayısı:", survived_count)

Kazada kurtulanların toplam sayısı: 342

8- 10 yaşından küçüklerin bilet fiyatlarının medyan değerini bulunuz

In [ ]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset("titanic")

under_ten_age_fare = df[df["age"] < 10]["fare"].median()
print("10 yaşından küçüklerin bilet fiyatlarının medyan değeri:", under_ten_age_fare)

10 yaşından küçüklerin bilet fiyatlarının medyan değeri: 27.0

9 - 1.sınıf, 2.sınıf ve 3.sınıf bilet fiyatlarının ortalama ve medyanlarını karşılaştırınız. (Pclass değişkeni sınıfları barındırmaktadır.)

In [ ]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset("titanic")

# Sınıfa göre ortalama ve medyan bilet fiyatları
fare_stats = df.groupby("pclass")["fare"].agg(["mean", "median"])

print(fare_stats)

10- Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştırınız. (Örnek: erkekler için; ölen erkeklerin, erkek sayısına bölümü bu oranı vermektedir.

In [ ]:
import pandas as pd
import seaborn as sns

df = sns.load_dataset("titanic")

# Kadın ve erkeklerin toplam sayıları
total_women = len(df[df["sex"] == "female"]) # 314
total_men = len(df[df["sex"] == "male"]) # 577

# Kazada ölen kadın sayısı
dead_women = len(df[(df["survived"] == 0) & (df["sex"] == "female")]) #81
# Kazada ölen erkek sayısı
dead_men = len(df[(df["survived"] == 0) & (df["sex"] == "male")]) #468

# Kadınların ölüm oranı
women_death_rate = dead_women / total_women

# Erkeklerin ölüm oranı
men_death_rate = dead_men / total_men

print(f"Kazada ölen kadınların oranı: {women_death_rate:.2f}")
print(f"Kazada ölen erkeklerin oranı: {men_death_rate:.2f}")

468
Kazada ölen kadınların oranı: 0.26
Kazada ölen erkeklerin oranı: 0.81